{% extends "layout.html" %}

{% block body %}

<style>
    body {
        background-color: bisque;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-8">
            <!---------------Panel sala de chat----------------->
            <div class="row row-cols-2">
                <div class="col" id="chat">
                    <h4>Sala de chat: <span id="nombre-canal"></span></h4>
                </div>

                <!---------------Mensajes--------------------------->
                <div class="col" id="mensajes">
                </div>
            </div>
        </div>

        <!-------------Columna canales------------>
        <div class="col-4">
            <!---------------Panel de canales------------------->
            <div class="col" id="canal">
                <h4>Canales</h4>

                <!---------------Lista de canales------------------->
                <div id="lista_canal">
                    <div id="contenedor-canales">
                        {% for channel in channels %}
                        <div class="row" id="canal-creado" onclick="seleccionarCanal('{{ channel }}')">
                            <span id="sala">{{ channel }}</span>
                        </div>
                        {% endfor %}
                    </div>
                    
                    <ul>
                        <form id="formCanal">
                            <input type="text" id="channel-name" placeholder="Nombre del canal">
                        </form>
                    </ul>
                    
                    <div class="input-group-append">
                        <button id="add-channel" class="btn btn-primary" type="submit">Crear canal</button>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- Force next columns to break to new line at md breakpoint and up -->
    <div class="w-100 d-none d-md-block"></div>

    <!----------Columna mensajes---------------------------->
    <div class="col-12">
        <div class="row">
            <!---------------Enviar mensajes-------------------->
            <div class="col-8">
                <div class="row">
                    <div class="col-10">
                        <form class="chateo form-group" id="formulario1">
                            <input type="text" placeholder="Escribe un mensaje" id="input_chat" class="form-control">
                        </form>
                        <a onclick="Clear()" href="/logout" class="btn btn-warning" id="cerrar">Cerrar sesion</a>
                    </div>
                    <div class="col-2">
                            <button class="linea" type="button" id="enviar" onclick="enviar()">Enviar</button>
                            <button id="emojibtn" class="linea">😀</button>
                    </div>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</div>
</div>

<script>
    let emojibutton = document.querySelector("#emojibtn");
    let picker = new EmojiButton();

    window.addEventListener("DOMContentLoaded", () => {
        picker.on('emoji', emoji => {
            document.querySelector("#input_chat").value += emoji;
        });

        emojibutton.addEventListener('click', () => {
            picker.togglePicker(emojibutton);
        })
    });
</script>

{% endblock %}